.left-side {
  background-color: #00132d;
}
.right-side {
  background-color: rgb(0, 81, 255);
}

.video-left {
  background-color:rgb(148, 177, 185);
}

.video-right {
  background-color: rgb(197, 248, 255);
}

.text {
  color: rgb(255, 255, 255);
}

.error {
  color: rgb(174, 40, 40);
}

body {
  background-color: #181414
}